swagger: '2.0'
info:
  title: Persons API
  description: Get information about people at OSU.
  version: '2.0.0'
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/persons-api
host: api.oregonstate.edu
schemes:
  - https
basePath: /v2
produces:
  - application/json
consumes:
  - application/json
paths:
  /persons/{osuID}:
    get:
      description: Get general person information
      tags:
        - persons
      operationId: getPersonById
      parameters:
        - $ref: '#/parameters/osuId'
        - $ref: '#/parameters/authorization'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/PersonResultObject'
        404:
          description: Person not found
          schema:
            $ref: '#/definitions/Error'
parameters:
  osuId:
    name: osuId
    in: path
    required: true
    description: OSU ID of a person
    type: string
  authorization:
    name: Authorization
    in: header
    type: string
    required: true
    description: '"Bearer [token]" where [token] is your OAuth2 access token'
definitions:
  PersonType:
    type: string
    example: person
  SelfLink:
    properties:
      self:
        type: string
        format: url
        description: Self link of resource
  ErrorArray:
    type: array
    items:
      $ref: '#/definitions/Error'
  Error:
    properties:
      status:
        type: integer
        description: HTTP status code.
      developerMessage:
        type: string
        description: An error string aimed at developers.
      userMesage:
        type: string
        description: An error string aimed at end users.
      code:
        type: integer
        description: Error code.
      details:
        type: string
        description: A link to further information about the error.
