swagger: '2.0'
info:
  title: Persons API
  description: Get information about people at OSU.
  version: v2
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
  contact:
    name: IS Data Architecture Team
    url: https://is.oregonstate.edu/data-architecture
    email: isdataarchitecture@oregonstate.edu
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/persons-api
host: api.oregonstate.edu
schemes:
  - https
basePath: /v2
produces:
  - application/json
consumes:
  - application/json
security:
  - Oauth2:
    - full
paths:
  /persons:
    post:
      description: Post person
      tags:
        - persons
      operationId: getPersons
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PersonPostBody'
      responses:
        '202':
          description: Successful response
          schema:
            $ref: '#/definitions/PersonResult'
        '400':
          $ref: '#/responses/400'
        '500':
          $ref: '#/responses/500'
  /persons/{osuId}:
    get:
      description: Get general person information
      tags:
        - persons
      operationId: getPersonById
      parameters:
        - $ref: '#/parameters/osuId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PersonResult'
        '404':
          $ref: '#/responses/404'
        '500':
          $ref: '#/responses/500'
  /persons/{osuId}/image:
    get:
      description: Get a person's image
      tags:
        - images
      operationId: getImageById
      produces:
        - image/jpeg
        - application/json
      parameters:
        - in: query
          name: width
          description: Resizes image to a pixel value for width while keeping original aspect ratio
          required: false
          type: integer
        - $ref: '#/parameters/osuId'
      responses:
        '200':
          description: Successful response
          schema:
            type: file
          headers:
            Content-type:
              type: string
              description: image/jpeg
        '404':
          $ref: '#/responses/404'
parameters:
  osuId:
    name: osuId
    in: path
    required: true
    description: OSU ID of a person
    type: string
responses:
  '400':
    description: Bad request
    schema:
      $ref: '#/definitions/ErrorResult'
  '404':
    description: Resource not found
    schema:
      $ref: '#/definitions/ErrorResult'
  '500':
    description: Internal server error
    schema:
      $ref: '#/definitions/ErrorResult'
securityDefinitions:
  OAuth2:
    type: oauth2
    flow: application
    tokenUrl: https://api.oregonstate.edu/oauth2/token
    scopes:
      full: Full access to the API
definitions:
  PersonType:
    type: string
    example: person
  PersonResource:
    type: object
    properties:
      id:
        type: string
        description: OSU ID of a person
        pattern: '^\d{9}$'
      type:
        $ref: '#/definitions/PersonType'
      links:
        $ref: '#/definitions/SelfLink'
      attributes:
        type: object
        properties:
          firstName: &firstName
            type: string
            description: First name of person
          lastName: &lastName
            type: string
            description: Last name of person
          middleName: &middleName
            type: string
            description: Middle name of person
          displayFirstName:
            type: string
            description: Preferred first name
          displayMiddleName:
            type: string
            description: Preferred middle name
          displayLastName:
            type: string
            description: Preferred last name
          onid:
            type: string
            description: ONID username
          email:
            type: string
            description: Primary email address
          birthDate: &birthDay
            type: string
            description: Birthday of person
          citizen: &citizen
            type: string
            enum: [FN, N, R, S, C]
            description: |
              Person's citizen code
              - `FN` - Foreign National
              - `N` - Non Resident Alien
              - `R` - Resident Alien
              - `S` - Substantial Presence Alien
              - `C` - Citizen
          sex: &sex
            type: string
            description: |
              Person's sex code
              - `M` - Male
              - `F` - Female
              - `N` - Non-specified
          confidential:
            type: string
            description: If true, the person has opted in to being required to be listed as confidential
          currentStudent:
            type: boolean
            description: True if person is a current student
          currentEmployee:
            type: boolean
            description: True if person is a current employee
          employeeStatus:
            type: boolean
            enum: ['A', 'B', 'L', 'F', 'P', 'T']
            description: |
              The status of the employee:
              `A` - Active
              `B` - Leave without pay and with benefits
              `L` - Leave without pay and without benefits
              `F` - Leave with pay and with benefits
              `P` - Leave with partial pay and with benefits
              `T` - Terminated
          ssnStatus:
            type: string
            enum:
              - vault
              - valid
              - invalid
            description: SSN status
  PersonResult:
    type: object
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/PersonResource'
  PersonPostBody:
    properties:
      data:
        type: object
        properties:
          type:
            $ref: '#/definitions/PersonType'
          attributes:
            type: object
            required:
            - firstName
            - birthDate
            - sex
            properties:
              firstName: *firstName
              lastName: *lastName
              middleName: *middleName
              birthDay: *birthDay
              citizen: *citizen
              sex: *sex
  SelfLink:
    properties:
      self:
        type: string
        format: url
        description: Self link of resource
  ErrorObject:
    properties:
      status:
        type: string
        description: HTTP status code
        example: '123'
      title:
        type: string
        description: A short, user readable summary of the error
        example: Not Found
      code:
        type: string
        description: An application-specific error code
        example: '1234'
      detail:
        type: string
        description: A long description of the error that may contain instance-specific details
      links:
        properties:
          about:
            type: string
            format: url
            description: A link to further information about the error
            example: https://developer.oregonstate.edu/documentation/error-reference#1234
  ErrorResult:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/ErrorObject'
