swagger: '2.0'
info:
  title: Persons API
  description: Get information about people at OSU.
  version: v2
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
  contact:
    name: IS Data Architecture Team
    url: https://is.oregonstate.edu/data-architecture
    email: isdataarchitecture@oregonstate.edu
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/persons-api
host: api.oregonstate.edu
schemes:
  - https
basePath: /v2
produces:
  - application/json
consumes:
  - application/json
paths:
  /persons/{osuId}:
    get:
      description: Get general person information
      tags:
        - persons
      operationId: getPersonById
      parameters:
        - $ref: '#/parameters/osuId'
        - $ref: '#/parameters/authorization'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/PersonResult'
        404:
          description: Person not found
          schema:
            $ref: '#/definitions/Error'
parameters:
  osuId:
    name: osuId
    in: path
    required: true
    description: OSU ID of a person
    type: string
  authorization:
    name: Authorization
    in: header
    type: string
    required: true
    description: '"Bearer [token]" where [token] is your OAuth2 access token'
definitions:
  PersonType:
    type: string
    example: person
  PersonResource:
    type: object
    properties:
      id:
        type: string
        description: OSU ID of a person
        pattern: '^\d{9}$'
      type:
        $ref: '#/definitions/PersonType'
      attributes:
        type: object
        properties:
          firstName:
            type: string
            description: First name of person
          lastName:
            type: string
            description: Last name of person
          middleName:
            type: string
            description: Middle name of person
          displayFirstName:
            type: string
            description: Preferred first name
          displayMiddleName:
            type: string
            description: Preferred middle name
          displayLastName:
            type: string
            description: Preferred last name
          onid:
            type: string
            description: ONID username
          pidm:
            type: string
            description: PIDM ID
          email:
            type: string
            description: Primary email address
          birthDate:
            type: string
            description: Birthday of person
          citizen:
            type: string
            enum: [FN, N, R, S, C]
            description: |
              Person's citizen code
              - 'FN' - Foreign National
              - 'N' - Non Resident Alien
              - 'R' - Resident Alien
              - 'S' - Substantial Presence Alien
              - 'C' - Citizen
          sex:
            type: string
            description: |
              Person's sex code
              - 'M' - Male
              - 'F' - Female
              - 'N' - Non-specified
          confidential:
            type: string
            description: If true, the person has opted in to being required to be listed as confidential
          currentStudent:
            type: boolean
            description: True if person is a current student
          currentEmployee:
            type: boolean
            description: True if person is a current employee
          employeeStatus:
            type: boolean
            enum: ['A', 'B', 'L', 'F', 'P', 'T']
            description: >
              The status of the employee:
              A - Active
              B - Leave without pay and with benefits
              L - Leave without pay and without benefits
              F - Leave with pay and with benefits
              P - Leave with partial pay and with benefits
              T - Terminated
          ssnStatus:
            type: string
            enum:
              - vault
              - valid
              - invalid
            description: SSN status
  PersonResult:
    type: object
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/PersonResource'
  SelfLink:
    properties:
      self:
        type: string
        format: url
        description: Self link of resource
  ErrorArray:
    type: array
    items:
      $ref: '#/definitions/Error'
  Error:
    properties:
      status:
        type: integer
        description: HTTP status code.
      developerMessage:
        type: string
        description: An error string aimed at developers.
      userMesage:
        type: string
        description: An error string aimed at end users.
      code:
        type: integer
        description: Error code.
      details:
        type: string
        description: A link to further information about the error.
