swagger: '2.0'
info:
  title: Persons API
  description: Get information about people at OSU.
  version: v2
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
  contact:
    name: IS Data Architecture Team
    url: https://is.oregonstate.edu/data-architecture
    email: isdataarchitecture@oregonstate.edu
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/persons-api
host: api.oregonstate.edu
schemes:
  - https
basePath: /v2
produces:
  - application/json
consumes:
  - application/json
security:
  - Oauth2:
    - full
paths:
  /persons:
    post:
      description: Post person
      tags:
        - persons
      operationId: getPersons
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PersonPostBody'
      responses:
        '202':
          description: Successful response
          schema:
            $ref: '#/definitions/PersonResult'
        '400':
          $ref: '#/responses/400'
        '500':
          $ref: '#/responses/500'
  /persons/{osuId}:
    get:
      description: Get general person information
      tags:
        - persons
      operationId: getPersonById
      parameters:
        - $ref: '#/parameters/osuId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PersonResult'
        '404':
          $ref: '#/responses/404'
        '500':
          $ref: '#/responses/500'
  /persons/{osuId}/jobs:
    get:
      description: Get jobs associated with a person
      tags:
        - jobs
      operationId: getJobs
      parameters:
        - name: positionNumber
          in: query
          type: string
          description: Filter by position ID.
          required: false
        - name: suffix
          in: query
          type: string
          description: |
            Filter by suffix. The suffix is used to differentiate multiple jobs
            that share the same position number for a given person.
        - $ref: '#/parameters/osuId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/JobSetResult'
        '404':
          $ref: '#/responses/404'
        '500':
          $ref: '#/responses/500'
    post:
      description: Update a job record for a person
      tags:
        - jobs
      operationId: postJob
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/JobPostBody'
        - $ref: '#/parameters/osuId'
        - $ref: '#/parameters/employmentType'
      responses:
        '202':
          description: Job record accepted.
          schema:
            $ref: '#/definitions/JobResult'
        '400':
          $ref: '#/responses/400'
        '404':
          $ref: '#/responses/404'
        '500':
          $ref: '#/responses/500'
  /person/{osuId}/jobs/{jobId}:
    get:
      description: Get a specific job associated with a person
      tags:
        - jobs
      operationId: getJob
      parameters:
        - $ref: '#/parameters/osuId'
        - $ref: '#/parameters/jobId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/JobResult'
        '404':
          $ref: '#/responses/404'
        '500':
          $ref: '#/responses/500'
    put:
      description: Update a job record for a person
      tags: 
        - jobs
      operationId: putJob
      parameters:
        - name: body
          in: body
          description: Put body for a job
          required: true
          schema:
            $ref: '#/definitions/JobPutBody'
        - $ref: '#/parameters/employmentType'
        - $ref: '#/parameters/osuId'
        - $ref: '#/parameters/jobId'
      responses:
        '202':
          description: Job record accepted.
          schema:
            $ref: '#/definitions/JobResult'
        '400':
          $ref: '#/responses/400'
        '404':
          $ref: '#/responses/404'
        '500':
          $ref: '#/responses/500'
  /persons/{osuId}/ssn:
    post:
      description: Create a person's SSN
      tags:
        - ssn
      operationId: postSsn
      parameters:
        - name: body
          in: body
          description: SSN post body
          required: true
          schema:
            $ref: '#/definitions/SsnPostBody'
        - $ref: '#/parameters/osuId'
      responses:
        '202':
          description: SSN record accepted.
          schema:
            $ref: '#/definitions/SsnResult'
        '400':
          $ref: '#/responses/400'
        '404':
          $ref: '#/responses/404'
        '500':
          $ref: '#/responses/500'
  /persons/{osuId}/image:
    get:
      description: Get a person's image
      tags:
        - images
      operationId: getImageById
      produces:
        - image/jpeg
        - application/json
      parameters:
        - in: query
          name: width
          description: Resizes image to a pixel value for width while keeping original aspect ratio
          required: false
          type: integer
        - $ref: '#/parameters/osuId'
      responses:
        '200':
          description: Successful response
          schema:
            type: file
          headers:
            Content-type:
              type: string
              description: image/jpeg
        '404':
          $ref: '#/responses/404'
  /persons/{osuId}/meal-plans:
    get:
      description: Get meal plans for a person
      tags:
        - meal-plans
      operationId: getMealPlans
      parameters:
        - name: mealPlan
          in: query
          type: string
          required: false
          description: Filter results by meal plan name.
        - $ref: '#/parameters/osuId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/MealPlanSetResult'
        '404':
          $ref: '#/responses/404'
        '500':
          $ref: '#/responses/500'
  /persons/{osuId}/meal-plans/{mealPlanId}:
    get:
      description: Get a specific meal plan for a person
      tags:
        - meal-plans
      operationId: getMealPlanById
      parameters:
        - $ref: '#/parameters/osuId'
        - $ref: '#/parameters/mealPlanId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/MealPlanResult'
        '404':
          $ref: '#/responses/404'
        '500':
          $ref: '#/responses/500'
  /persons/{osuId}/address:
    get:
      description: Get addresses for a person
      tags:
        - addresses
      operationId: getAddresses
      parameters:
        - $ref: '#/parameters/osuId'
        - $ref: '#/parameters/addressType'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AddressSetResult'
        '404':
          $ref: '#/responses/404'
        '500':
          $ref: '#/responses/500'
    post:
      description: Create address for a person
      tags:
        - addresses
      operationId: postAddresses
      parameters:
        - name: body
          in: body
          description: Post body for new address
          required: true
          schema:
            $ref: '#/definitions/AddressPostBody'
        - $ref: '#/parameters/osuId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AddressResult'
        '400':
          $ref: '#/responses/400'
        '404':
          $ref: '#/responses/404'
        '500':
          $ref: '#/responses/500'
  /persons/{osuId}/phones:
    get:
      description: Get phone numbers for a person
      tags:
        - phones
      operationId: getPhones
      parameters:
        - $ref: '#/parameters/addressType'
        - $ref: '#/parameters/phoneType'
        - $ref: '#/parameters/osuId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PhoneSetResult'
        '404':
          $ref: '#/responses/404'
        '500':
          $ref: '#/responses/500'
    post:
      description: Create phone number for a person
      tags:
        - phones
      operationId: createPhones
      parameters:
        - name: body
          in: body
          description: Post body for the new phone
          required: true
          schema:
            $ref: '#/definitions/PhonePostBody'
        - $ref: '#/parameters/osuId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PhoneResult'
        '400':
          $ref: '#/responses/400'
        '404':
          $ref: '#/responses/404'
        '500':
          $ref: '#/responses/500'
parameters:
  osuId:
    name: osuId
    in: path
    required: true
    description: OSU ID of a person
    type: string
  jobId:
    name: jobId
    in: path
    description: ID of the specific job to be updated
    required: true
    type: string
  mealPlanId:
    name: mealPlanId
    in: path
    description: ID of meal plan
    required: true
    type: string
  employmentType:
    name: employmentType
    in: query
    description: The type of employment that the job record should be processed as.
    required: true
    type: string
    enum: [student, graduate]
  addressType:
    name: addressType
    in: query
    type: string
    required: false
    enum: &addressTypeEnums
      - PA
      - RN
      - RB
      - RE
      - RK
      - VO
      - VP
      - XX
      - CM
      - DM
      - EO
      - RH
      - PR
      - MA
      - SV
      - JA
    description: |
      Filter by address type. Common address types and their description:
      - `CM` - Current Mailing
      - `PA` - Student Alternate Contact
      - `DM` - Department (US Mail)
      - `RK` - Financial Aid Address
      - `RH` - Residence Hall
  phoneType:
    name: phoneType
    in: query
    type: string
    required: false
    enum: &phoneTypeEnums
      - PA
      - RN
      - RB
      - MG
      - RE
      - RK
      - VO
      - VP
      - VF
      - CM
      - EO
      - RH
      - EF
      - MP
    description: |
      Filter by phone type. Common phone types and their descriptions:
      - `CM` - Current
      - `PA` - Student Alternate Contact
      - `RK` - Financial Aid Address
      - `MP` - Mobile Phone
responses:
  '400':
    description: Bad request
    schema:
      $ref: '#/definitions/ErrorResult'
  '404':
    description: Resource not found
    schema:
      $ref: '#/definitions/ErrorResult'
  '500':
    description: Internal server error
    schema:
      $ref: '#/definitions/ErrorResult'
securityDefinitions:
  OAuth2:
    type: oauth2
    flow: application
    tokenUrl: https://api.oregonstate.edu/oauth2/token
    scopes:
      full: Full access to the API
definitions:
  PersonType:
    type: string
    example: person
  JobType:
    type: string
    example: job
  SsnType:
    type: string
    example: ssn
  MealPlanType:
    type: string
    example: meal-plans
  AddressType:
    type: string
    example: addresses
  PhoneType:
    type: string
    example: phones
  PersonPostAttributes:
    type: object
    required:
    - firstName
    - lastName
    - birthDate
    - sex
    properties:
      firstName:
        type: string
        description: First name of person
        example: John
      lastName:
        type: string
        description: Last name of person
        example: Smith
      middleName:
        type: string
        description: Middle name of person
        example: Adam
      birthDate:
        type: string
        format: date
        description: Birthday of person
        example: 1970-1-21
      citizen:
        type: string
        enum: [FN, N, R, S, C]
        description: |
          Person's citizen code
          - `FN` - Foreign National
          - `N` - Non Resident Alien
          - `R` - Resident Alien
          - `S` - Substantial Presence Alien
          - `C` - Citizen
      sex:
        type: string
        description: |
          Person's sex code
          - `M` - Male
          - `F` - Female
          - `N` - Non-specified
  PersonAttributes:
    type: object
    properties:
      displayFirstName:
        type: string
        description: Preferred first name
        example: John
      displayMiddleName:
        type: string
        description: Preferred middle name
        example: Adam
      displayLastName:
        type: string
        description: Preferred last name
        example: Smith
      onid:
        type: string
        description: ONID username
        example: smithj
      email:
        type: string
        description: Primary email address
        example: john.smith@example.com
      isConfidential:
        type: boolean
        description: If true, the person has opted in to being required to be listed as confidential
      isCurrentStudent:
        type: boolean
        description: True if person is a current student
      isCurrentEmployee:
        type: boolean
        description: True if person is a current employee
      employeeStatus:
        type: string
        enum: [A, B, L, F, P, T]
        description: |
          The status of the employee:
          `A` - Active
          `B` - Leave without pay and with benefits
          `L` - Leave without pay and without benefits
          `F` - Leave with pay and with benefits
          `P` - Leave with partial pay and with benefits
          `T` - Terminated
      ssnStatus:
        type: string
        enum:
          - vault
          - valid
          - invalid
        description: SSN status
  PersonResource:
    type: object
    properties:
      id:
        type: string
        description: OSU ID of a person
        pattern: '^\d{9}$'
      type:
        $ref: '#/definitions/PersonType'
      links:
        $ref: '#/definitions/SelfLink'
      attributes:
        allOf:
          - $ref: '#/definitions/PersonPostAttributes'
          - $ref: '#/definitions/PersonAttributes'
  PersonResult:
    type: object
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/PersonResource'
  PersonPostBody:
    properties:
      data:
        type: object
        properties:
          type:
            $ref: '#/definitions/PersonType'
          attributes:
            $ref: '#/definitions/PersonPostAttributes'
  JobPostAttributes:
    type: object
    required:
      - positionNumber
      - beginDate
      - supervisorOsuId
      - supervisorPositionNumber
      - effectiveDate
    properties:
      positionNumber:
        type: string
        description: Identifies a position
        example: C12345
      effectiveDate:
        type: string
        format: date
        description: The date this job assignment is effective.
        example: 1970-1-21
      beginDate:
        type: string
        format: date
        description: Begin date of job.
        example: 1970-1-21
      endDate:
        type: string
        format: date
        description: End date of job.
        example: 1971-2-15
      accruesLeaveInd:
        type: boolean
        description: If true, the job accrues leave time.
      contractBeginDate:
        type: string
        format: date
        description: The date the contract begins.
        example: 1970-1-21
      contractEndDate:
        type: string
        format: date
        description: The date the contract ends.
        example: 1971-2-21
      contractType:
        type: string
        enum: [P, S, O]
        description: |
          Contract type code/Id.
          `P` - Primary
          `S` - Secondary
          `O` - Overload
      locationId:
        type: string
        description: Location Id of where job will be performed.
      status:
        type: string
        description: Job status.
        enum:
          - Active
          - Leave without pay but with benefits
          - Leave without pay and benefits
          - Leave with full pay and benefits
          - Leave with partial pay and benefits
          - Terminated
      description:
        type: string
        description: Description of job.
      personnelChangeDate:
        type: string
        format: date
        description: Date the last change was made to the job record.
        example: 1970-1-1
      changeReasonCode:
        type: string
        description: The reason the last change was made to the job record.
      fullTimeEquivalency:
        type: number
        format: float
        description: Full time equivalency where full time = 1.
        example: 0.25
      appointmentPercent:
        type: number
        format: float
        description: FTE presented as a whole percentage.
        example: 25
      salaryStep:
        type: string
        format: integer
        example: 1
      salaryGroupCode:
        type: string
        description: Salary group code for the job.
        example: 12345A
      strsAssignmentCode:
        type: string
        description: STRS assignment code for the job.
        example: 12
      supervisorOsuId:
        type: string
        description: OSU ID of the supervisor for the job.
      supervisorFirstName:
        type: string
        description: First name of the supervisor for the job.
        example: John
      supervisorLastName:
        type: string
        description: Last name of the supervisor for the job.
        example: Smith
      supervisorEmail:
        type: string
        description: The primary email of the supervisor for the job.
        example: john.smith@example.com
      supervisorPositionNumber:
        type: string
        description: Position number for the supervisor.
        example: C12345
      supervisorSuffix:
        type: string
        description: Suffix of the supervisor.
      timesheetOrganizationCode:
        type: string
        description: Organization code where the time sheet is sent for the job.
        example: 123456
      timesheetOrganizationDesc:
        type: string
        description: Organization title where timesheet is sent for the job.
      timesheetOrganizationPredCode:
        type: string
        description: The next higher organizational code of the current timesheet organization.
        example: 123456
      timesheetOrganizationPredDesc:
        type: string
        description: The next higher organizational title of the current timesheet organization.
      homeOrganizationCode:
        type: string
        description: The home organization code of the employee.
        example: 123456
      homeOrganizationDesc:
        type: string
        description: The home organization title of the employee.
      homeOrganizationPredCode:
        type: string
        description: The next higher organizational code of the current home organization.
        example: 123456
      homeOrganizationPredDesc:
        type: string
        description: The next higher organizational title of the current home organization.
      hourlyRate:
        type: number
        format: float
        description: Hourly pay rate of the job.
        example: 12.85
      hoursPerPay:
        type: number
        format: float
        description: Hours per payment for the job.
        example: 173.33
      assignmentSalary:
        type: number
        format: float
        description: The salary to be paid each pay period.
        example: 1670.83
      paysPerYear:
        type: number
        format: float
        description: The number of pays per calendar year.
        example: 12.0
      employeeClassificationCode:
        type: string
        description: The employee class attached to the job, based on the Employee Class entered on the Position Form (NBAPOSN).
        example: CA
      employerCode:
        type: string
        description: Employer identification code.
        example: ORST
      annualSalary:
        type: number
        format: float
        description: Annual salary for the job.
        example: 30000.50
      earnCode:
        type: string
        description: Default earnings code attached to the job and used on timesheet.
        example: REG
      earnCodeHours:
        type: number
        format: float
        description: Hours/units defaulted on timesheets for earnCode.
        example: 173.33
      earnCodeShift:
        type: string
        description: Shift code used as a default on timesheet for earnCode.
      useTemporarySsn:
        type: boolean
        description: When creating or updating a job, this field indicates the employee needs a temporary social security number assigned.
      employeeInformationReleaseInd:
        type: boolean
        description: Indicates the employee has consented to having their employment information shared.
      salaryInformationReleaseInd:
        type: boolean
        description: Indicates the employee accepted or denied to have their salary information shared.
      salaryInformationReleaseDate:
        type: string
        format: date
        description: The date that the employee accepted or denied to have their salary information shared.
      retirementCode:
        type: string
        description: Retirement code
      i9FormCode:
        type: string
        description: |
          Code to indicate the status of the employee's I9 form.
          `R` - Received
          `N` - Not Received
          `T` - Temporary
          `E` - Exempt
      laborDistribution:
        type: array
        items:
          required:
            - effectiveDate
            - accountIndexCode
            - distributionPercent
          properties:
            effectiveDate:
              type: string
              format: date
              description: Date this labor distribution becomes effective.
              example: 1970-1-1
            accountIndexCode:
              type: string
              example: ABC123
            fundCode:
              type: string
            organizationCode:
              type: string
            accountCode:
              type: string
            programCode:
              type: string
            activityCode:
              type: string
            locationCode:
              type: string
            distributionPercent:
              type: number
              format: float
              description: Percentage of labor applied to this fund.
              example: 49.9
  JobPutAttributes:
    type: object
    required: [suffix]
    properties:
      suffix:
        type: string
        description: |
          Used to uniquely identify a job record for persons who have
          multiple jobs that share the same position number.
          For updating existing jobs, this field is required.
  JobAttributes:
    allOf:
      - $ref: '#/definitions/JobPutAttributes'
      - $ref: '#/definitions/JobPostAttributes'
  JobResource:
    type: object
    properties:
      id:
        type: string
        description: Uniquely identifies a job record for the given person.
        example: C12345-00
      type:
        $ref: '#/definitions/JobType'
      links:
        $ref: '#/definitions/SelfLink'
      attributes:
        $ref: '#/definitions/JobAttributes'
  JobSetResult:
    type: object
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        type: array
        items:
          $ref: '#/definitions/JobResource'
  JobResult:
    type: object
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/JobResource'
  JobPostBody:
    type: object
    properties:
      data:
        type: object
        properties:
          type:
            $ref: '#/definitions/JobType'
          attributes:
            $ref: '#/definitions/JobPostAttributes'
  JobPutBody:
    type: object
    properties:
      data:
        type: object
        properties:
          type:
            $ref: '#/definitions/JobType'
          attributes:
            allOf:
              - $ref: '#/definitions/JobPutAttributes'
              - $ref: '#/definitions/JobPostAttributes'
  SsnPostAttributes:
    type: object
    required:
      - ssn
    properties:
      ssn:
        type: string
        description: 9 digits SSN
        example: '123456789'
  SsnAttributes:
    type: object
    properties:
      ssnStatus:
        type: string
        description: SSN status
        enum:
          - vault
          - valid
          - invalid
  SsnPostBody:
    type: object
    properties:
      data:
        type: object
        properties:
          type:
            $ref: '#/definitions/SsnType'
          attributes:
            $ref: '#/definitions/SsnPostAttributes'
  SsnResource:
    type: object
    properties:
      id:
        type: string
        description: 9 digits SSN
        example: '123456789'
      type:
        $ref: '#/definitions/SsnType'
      links:
        $ref: '#/definitions/SelfLink'
      attributes:
          $ref: '#/definitions/SsnAttributes'
  SsnResult:
    type: object
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/SsnResource'
  MealPlanAttributes:
    type: object
    properties:
      mealPlan:
        type: string
        description: Description of meal plan
        example: Orange Rewards
      balance:
        type: number
        format: float
        description: Remaining balance on meal plan in USD.
        example: 3.50
      lastUsedDate:
        type: string
        format: date-time
        description: The last time the meal plan was used.
        example: '2017-07-14T16:45:15Z'
      lastUsedLocation:
        type: string
        description: Description of the place the meal plan was last used.
        example: 'Java II'
  MealPlanResource:
    type: object
    properties:
      id: 
        type: string
        description: Meal plan ID
      type:
        $ref: '#/definitions/MealPlanType'
      links:
        $ref: '#/definitions/SelfLink'
      attributes:
        $ref: '#/definitions/MealPlanAttributes'
  MealPlanResult:
    type: object
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/MealPlanResource'
  MealPlanSetResult:
    type: object
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data: 
        type: array
        items:
          $ref: '#/definitions/MealPlanResource'
  AddressPostAttributes:
    type: object
    required:
      - addressType
      - city
    properties:
      addressType:
        type: string
        description: Code for the type of address record.
        example: CM
      addressLine1:
        type: string
        example: '123 Main Street'
      addressLine2:
        type: string
        example: 'Apartment 4'
      addressLine3:
        type: string
      addressLine4:
        type: string
      houseNumber:
        type: string
        example: '620'
      city:
        type: string
        example: Corvallis
      stateCode:
        type: string
        description: State code/abbreviation. This could also represent a province.
        example: OR
      postalCode:
        type: string
        example: '97331'
      countyCode:
        type: string
        example: '41003'
      nationCode:
        type: string
  AddressAttributes:
    type: object
    properties:
      addressTypeDescription:
        type: string
        description: Short description of the address type.
        example: Current Mailing
      state:
        type: string
        description: Human readable state code. This could also represent a province.
        example: Oregon
      county:
        type: string
        description: Human readable county.
        example: Benton
      nation:
        type: string
        description: Human readable nation/country name.
        example: Albania
      lastModified:
        type: string
        format: date
        description: The date this address record was last modified.
  AddressResource:
    type: object
    properties:
      id:
        type: string
        description: Globally unique ID for the address
      type:
        $ref: '#/definitions/AddressType'
      links:
        $ref: '#/definitions/SelfLink'
      attributes:
        allOf:
          - $ref: '#/definitions/AddressPostAttributes'
          - $ref: '#/definitions/AddressAttributes'
  AddressSetResult:
    type: object
    properties:
      links:  
        $ref: '#/definitions/SelfLink'
      data:
        type: array
        items:  
          $ref: '#/definitions/AddressResource'
  AddressResult:
    type: object
    properties:
      links:  
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/AddressResource'
  AddressPostBody:
    type: object
    properties:
      data:
        type: object
        properties:
          type:
            $ref: '#/definitions/AddressType'
          attributes:
            $ref: '#/definitions/AddressPostAttributes'
  PhonePostAttributes:
    type: object
    required:
      - addressType
      - phoneType
      - areaCode
      - phoneNumber
      - primaryIndicator
    properties:
      areaCode:
        type: string
        description: Area code for the phone number.
        example: '541'
        pattern: '^[0-9]{1,3}$'
      phoneNumber:
        type: string
        description: Extension for the phone number. Can be returned in different formats.
        example: '4443333'
        pattern: '^[0-9]{1,7}$'
      phoneExtension:
        type: string
        description: Extension for the phone number. Can be returned in different formats.
        example: '20'
        pattern: '^[0-9]{1,4}$'
      primaryIndicator:
        type: boolean
        description: Indicates if this phone number is marked as the primary number.
        example: true
      phoneType:
        type: string
        description: Enum marking which type of address this phone number matches with.
        example: CM
        enum: *phoneTypeEnums
      addressType:
        type: string
        description: Enum marking which type of address this phone number matches with.
        example: CM
        enum: *addressTypeEnums
  PhoneAttributes:
    type: object
    properties:
      fullPhoneNumber:
        type: string
        description: Combination of area code and phone number.
        example: '5414443333'
      phoneTypeDescription:
        type: string
        description: Describes the phone type enum.
        example: Current
      addressTypeDescription:
        type: string
        description: Describes the address type enum.
        example: Current Mailing
      lastModified:
        type: string
        description: The date of the most recent change made to this record.
        example: '2015-10-19'
  PhoneResource:
    type: object
    properties:
      id:
        type: string
        description: Globally unique ID for the phone
      type:
        $ref: '#/definitions/PhoneType'
      links:
        $ref: '#/definitions/SelfLink'
      attributes:
        allOf:
          - $ref: '#/definitions/PhonePostAttributes'
          - $ref: '#/definitions/PhoneAttributes'
  PhoneSetResult:
    type: object
    properties:
      link:
        $ref: '#/definitions/SelfLink'
      data:
        type: array
        items:
          $ref: '#/definitions/PhoneResource'
  PhoneResult:
    type: object
    properties:
      link:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/PhoneResource'
  PhonePostBody:
    type: object
    properties:
      data:
        type: object
        properties:
          type:
            $ref: '#/definitions/PhoneType'
          attributes:
            $ref: '#/definitions/PhonePostAttributes'
  SelfLink:
    properties:
      self:
        type: string
        format: url
        description: Self link of resource
  ErrorObject:
    properties:
      status:
        type: string
        description: HTTP status code
        example: '123'
      title:
        type: string
        description: A short, user readable summary of the error
        example: Not Found
      code:
        type: string
        description: An application-specific error code
        example: '1234'
      detail:
        type: string
        description: A long description of the error that may contain instance-specific details
      links:
        properties:
          about:
            type: string
            format: url
            description: A link to further information about the error
            example: https://developer.oregonstate.edu/documentation/error-reference#1234
  ErrorResult:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/ErrorObject'
