swagger: '2.0'
info:
  title: Persons API
  description: Get information about people at OSU.
  version: "1.0.0"
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/persons-api
host: api.oregonstate.edu
schemes:
  - https
basePath: /v1
produces:
  - application/json
consumes:
  - application/json
paths:
  /persons:
    get:
      description: Get general personal information, query by various identifiers
      parameters:
        - in: query
          name: onid
          required: false
          description: ONID login name
          type: string
        - in: query
          name: osuID
          required: false
          description: OSU ID of person
          type: string
        - in: query
          name: osuUID
          required: false
          description: OSUUID of a person. Public identifier given in Directory API
          type: number
          format: integer
        - in: query
          name: firstName
          required: false
          description: First name of a person, for fuzzy name searching.
          type: string
        - in: query
          name: lastName
          required: false
          description: Last name of a person, for fuzzy name searching.
          type: string
        - in: query
          name: searchOldNames
          required: false
          default: false
          description: If true, searching by name will also search old names associated with the person.
          type: boolean
        - in: query
          name: searchOldOsuIDs
          required: false
          default: false
          description: If true, searching by OSU ID will also search old OSU ID's associated with the person.
          type: boolean
        - $ref: '#/parameters/pretty'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/PersonResultObject'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
  /persons/{osuID}:
    get:
      description: Get general person information
      parameters:
        - $ref: '#/parameters/osuID'
        - $ref: '#/parameters/pretty'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/PersonResultObject'
        404:
          description: Person not found
          schema:
            $ref: '#/definitions/Error'
  /persons/{osuID}/jobs:
    get:
      description: Get jobs associated with a person
      parameters:
        - name: positionNumber
          in: query
          type: string
          description: Filter by position ID.
          required: false
        - name: suffix
          in: query
          type: string
          description: |
            Filter by suffix. The suffix is used to differentiate multiple jobs
            that share the same position number for a given person.
          required: false
        - $ref: '#/parameters/osuID'
        - $ref: '#/parameters/pretty'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/JobsResultObject'
        404:
          description: Person not found
          schema:
            $ref: '#/definitions/Error'
    post:
      description: Create a job record for a person
      parameters:
        - name: job
          in: body
          description: Result object for a job
          required: true
          schema:
            $ref: '#/definitions/JobResultObject'
        - $ref: '#/parameters/osuID'
        - $ref: '#/parameters/pretty'
      responses:
        202:
          # The backend data source needs to do additional processing with the new job record.
          # Return a 202 to indicate the record was accepted but not yet created.
          description: Job record accepted.
          schema:
            $ref: '#/definitions/JobResultObject'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Person not found
          schema:
            $ref: '#/definitions/Error'
  /persons/{osuID}/jobs/{jobID}:
    get:
      description: Get jobs associated with a person
      parameters:
        - name: jobID
          in: path
          type: string
          required: true
          description: Unique ID of a job record for a person.
        - $ref: '#/parameters/osuID'
        - $ref: '#/parameters/pretty'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/JobsResultObject'
        404:
          description: Person not found
          schema:
            $ref: '#/definitions/Error'
  /persons/{osuID}/image:
    get:
      description: |
        Get an ID card image for a person. If the person exists but doesn't have
        an ID card image, a default image will be returned.
      produces:
        - image/jpeg
        - application/json
      parameters:
        - in: query
          name: width
          description: Resizes image to a pixel value for width while keeping original aspect ratio
          required: false
          type: integer
        - $ref: '#/parameters/osuID'
        - $ref: '#/parameters/pretty'
      responses:
        200:
          description: Successful response
          schema:
            type: file
          headers:
              Content-type:
                type: string
                description: image/jpeg
        404:
          description: Person not found
          schema:
            $ref: '#/definitions/Error'
parameters:
  osuID:
    name: osuID
    in: path
    required: true
    description: OSU ID of person
    type: string
  pretty:
    name: pretty
    in: query
    type: boolean
    required: false
    description: If true, JSON response will be pretty-printed

definitions:
  PersonResultObject:
    properties:
      data:
        properties:
          id:
            type: string
            description: 9 digit OSU ID
          type:
            type: string
            description: person
          links:
            $ref: "#/definitions/SelfLink"
          attributes:
            properties:
              username:
                type: string
                description: ONID login name
              osuUID:
                type: number
                format: integer
                description: Unique identifier in the Directory API
              firstName:
                type: string
                description: Preferred first name
              middleName:
                type: string
                description: Preferred middle name
              lastName:
                type: string
                description: Preferred last name
              previousRecords:
                type: array
                description: Previous records associated with the person
                items:
                  properties:
                    osuID:
                      type: string
                      description: 9 digit OSU ID
                      example: "931234567"
                    firstName:
                      type: string
                      description: Previous first name
                    middleName:
                      type: string
                      description: Previous middle name
                    lastName:
                      type: string
                      description: Previous last name
              email:
                type: string
                description: OSU directory email
              birthDate:
                type: string
                format: date
                description: Birth date
              confidential:
                type: boolean
                description: If true, the person has opted in to being required to be listed as confidential
              currentStudent:
                type: boolean
                description: If true, the person is a current student
              primaryPhone:
                type: string
                description: E.164 formatted phone number.
              homePhone:
                type: string
                description: E.164 formatted phone number.
              alternatePhone:
                type: string
                description: E.164 formatted phone number.
              mobilePhone:
                type: string
                description: E.164 formatted phone number. Capable of SMS communication.
  JobsResultObject:
    properties:
      data:
        type: array
        items:
          $ref: "#/definitions/JobResourceObject"
  JobResultObject:
    properties:
      data:
        $ref: "#/definitions/JobResourceObject"
  JobResourceObject:
    properties:
      id:
        type: string
        description: Uniquely identifies a job record for the given person.
      type:
        type: string
        example: job
      links:
          $ref: "#/definitions/SelfLink"
      attributes:
        properties:
          positionNumber:
            type: string
            description: Identifies a position
            example: C12345
          suffix:
            type: string
            description: |
              Used to uniquely identify a job record for persons who have
              multiple jobs that share the same position number.
          beginDate:
            type: string
            format: date
            description: Begin date of job.
            example: "2018-12-31"
          endDate:
            type: string
            format: date
            description: End date of job.
            example: "2019-01-01"
          locationID:
            type: string
            description: Location ID of where job will be performed.
          status:
            type: string
            description: Job status
            enum:
              - Active
              - Leave without pay but with benefits
              - Leave without pay and benefits
              - Leave with full pay and benefits
              - Leave with partial pay and benefits
              - Terminated
            example: Active
          description:
            type: string
            description: Description of job
          fullTimeEquivalency:
            type: number
            format: float
            description: Full time eqivalency where full time = 1
            example: 0.49
          appointmentPercent:
            type: number
            format: float
            description: FTE presented as a whole percentage.
            example: 49
          supervisorOsuID:
            type: string
            description: OSU ID of the supervisor for the job.
          supervisorPositionNumber:
            type: string
            description: Position number of the supervisor.
          supervisorSuffix:
            type: string
            description: Suffix of the supervisor
          timesheetOrganizationCode:
            type: string
            description: Organization (department) code tied to the job record.
          hourlyRate:
            type: number
            format: float
            description: Hourly rate of job
            example: 12.85
          hoursPerPay:
            type: number
            format: float
            description: Hours per payment for job.
            example: 173.33
          assignmentSalary:
            type: number
            format: float
            description: The salary to be paid each pay period.
            example: 1670.83
          paysPerYear:
            type: number
            format: float
            description: The number of pays per calendar year.
          annualSalary:
            type: number
            format: float
            example: 20,050.35
          laborDistribution:
            type: array
            items:
              properties:
                effectiveDate:
                  type: string
                  format: date
                  description: Date the labor distribution is effective
                  example: "2018-12-31"
                chartOfAccountsCode:
                  type: string
                  example: C
                accountIndex:
                  type: string
                  example: ABC123
                fund:
                  type: string
                  example: S1234B
                organizationCode:
                  type: string
                accountCode:
                  type: string
                programCode:
                  type: string
                distributionPercentage:
                  type: number
                  format: float
                  description: Percentage of labor applied to this fund.
                  example: 49.9
          #todo: add these at a later time when they're needed
          #encumbranceStartDate:
          #  type: string
          #  format: date
          #  example: "2018-12-31"
          #encumbranceEndDate:
          #  type: string
          #  format: date
          #  example: "2019-12-31"
  SelfLink:
    properties:
      self:
        type: string
        format: url
        description: Self link of resource
  Error:
    properties:
      status:
        type: integer
        description: HTTP status code.
      developerMessage:
        type: string
        description: An error string aimed at developers.
      userMesage:
        type: string
        description: An error string aimed at end users.
      code:
        type: integer
        description: Error code.
      details:
        type: string
        description: A link to further information about the error.
